.Navbar {
    
  
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(104, 09, 49);
      color: black;
    
}

.Navbar img {
    width: 120px;
    height: auto;
}


.Navbar nav {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.Navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    color: black;
}

.Navbar ul li {
    margin: 0 15px;
    color: black;
}

.Navbar ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}


.Navbar .title {
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
}
